@import "tailwindcss";
@font-face {
  font-family: font500;
  src: url(../src/assets/fonts/Lausanne-500.woff2);
}

@font-face {
  font-family: font300;
  src: url(../src/assets/fonts/Lausanne-300.woff2);
}

body {
  background-color: #111;
  color: white;
}